@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    overflow-y: auto;
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100%;
/* Center container */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-end;
    gap: 1.4rem; */
}

.container h1{
    margin: 20px 0;
    text-align: center;
    font-size: 2.5rem;
    /* Or we could have used this also */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.gallery{
    width: 70%;
    margin: 0 auto;
    /* Why flex -> For positioning all cards and space between them easily */
    /* flex-container */
    display: flex;
    /* Without this all ele will come in single row (flexdirection: row by default) */
    flex-wrap: wrap;
    /* To set space between every card vimp!*/
    justify-content: space-between;
    /* row-gap: 20px; */
}


.card{
    /* width of each card in a row. like 3 cards -> total 96% remaining space between them set above..*/
    width: 32%;
    /* To overlap figcaption */
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    /* if image overflow beyound card width. Vimp!! */
    overflow: hidden;
}

.card img{
    /* Now image wt & ht will be that of card. we get squarish image with bottom rounded corner*/
    /* Flex-item take full height  upto containerif we don't specify. */
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.card:hover{
    transform: scale(1.03);
    transition: 0.5s;
    /* box-shadow: 0 0 20px #333; */
    /* Better than box-shadow */
    filter: drop-shadow(0 0 10px #333);
}

.card:hover img{
    filter:none;
}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    color: #fff;
    font-weight: 500;
    opacity: 0;
    transition: 0.5s;
}
/* Note: above figcaption opacity 0, now on hovering over card figcaption opacity will become 1. we can't give this to our img tag that will make img tag opacity 1 not of figcaption  */
/* descendant selector */
.card:hover figcaption{
    opacity: 1;
    /* scale text along with image */
    transform: scale(1.03);
}